<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="form-header">You are editing the <%=place.name%></h1>
            <form method="post" action="/places/<%=place._id%>?_method=PUT">
                <div class="input-field col s6 offset-s3">
                    <label for="placeName">Name</label>
                    <input type="text" class="validate" id="placeName" name="name" value="<%=place.name%>">
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="placeLocation">Location</label>
                    <input class="validate" type="text" id="placeLocation" name="location" value="<%=place.location%>">
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="placePrice">Price per night</label>
                    <input type="number" class="validate" id="placePrice" value="<%=place.price%>" name="price" min='0.0' step='0.1'>
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="placePhoto">Link to photo</label>
                    <input type="text" class="validate" id="placePhoto" name="photo" value="<%=place.photo%>">
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="placeInfoTextarea">Description</label>
                    <textarea id="placeInfoTextarea" class="materialize-textarea" name="info"></textarea>
                </div>
                <div class="input-field col s6 offset-s3">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    <p><a href="/places" class="form-link">Go back</a></p>
                </div>
            </form>
    </div>
</div>

<script>
$(document).ready(function(e){
    $('#placeInfoTextarea').val('<%=place.info%>');
    $('#placeInfoTextarea').trigger('autoresize');
});
</script>

<% include ../partials/footer.ejs %>
