<% include ../partials/header.ejs %>

<div class="container">
    <% if(noMatch.length > 1){ %>
        <div class='searchResult'>
            <h3><%= noMatch %></h3>
            <h4>Please try again</h2>
        </div>
    <% } %>
    <div class="row" style="display:flex; flex-wrap: wrap;">
    <% places.forEach(function (place) { %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="<%= place.photo %>">
            <span class="card-title"><%= place.name %></span>
          </div>
          <div class="card-content">
            <h6><%= (place.info).substring(0, 100) + '...' %></h4>
          </div>
          <div class="card-action">
            <a href="/places/<%= place._id %>" class="waves-effect waves-light btn">
                <i class="material-icons right">send</i>More
            </a>
          </div>
        </div>
      </div>
    <% })%>
    </div>


    <div class="fixed-action-btn" style="bottom: 250px">
        <a href="/places/new" class="btn btn-floating btn-large pulse"><i class="material-icons">add</i></a>
    </div>

</div>

<% include ../partials/footer.ejs %>
