<% include ../partials/header.ejs %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">uAirbnb</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= place.photo %>">
                <div class="caption-full">
                    <h4 class="pull-right">£9.00/night</h4>
                    <h4 class="pull-left"><a><%=place.name%></a></h4>
                    <p><%= place.info %></p>
                    <p><em>Submited by <%=place.author.username%></em></p>
                </div>
            </div>
            <div class="well">
                <a href="/places/<%=place._id%>/comments/new" class="btn btn-success" role="button">Add a comment</a>
                <hr>
                <% place.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            Posted by: <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer.ejs %>