<% include ../partials/header.ejs %>


<div class="container place-show">
    <div class="row">
        <div class="col m3">
            <div class="collection">
                <a href="#!" class="collection-item">Info 1</a>
                <a href="#!" class="collection-item active">Info 1</a>
                <a href="#!" class="collection-item">Info 3</a>
            </div>
            <div id="map"></div>
        </div>

        <div class="col m9">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" width="100%" src="<%= place.photo %>">
                </div>
                <div class="card-content">
                    <span class="card-title left"><%= place.name %></span>
                    <span class="card-title right">£<%= place.price %>/night</span>
                    <p class="place-info"><%= place.info %></p>
                    <div class="chip">
                        <img src="/images/face.png">
                        <%=place.author.username%>
                    </div>
                    <%= moment(place.createdAt).fromNow() %>
                    <% if(currentUser && place.author.id.equals(currentUser._id)){ %>
                        <div class="right">
                            <a href="/places/<%=place._id%>/edit" class="waves-effect waves-light btn amber" role="button">Edit</a>
                            <form method="post" action="/places/<%=place._id%>?_method=DELETE" id="methodOverrideForm">
                                <button type="submit" class="waves-effect waves-light btn red">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="card-panel">
                <a href="/places/<%=place._id%>/comments/new" class="waves-effect waves-light btn">Add a comment</a>
                <hr>
                <% place.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col m12">
                            <div class="chip">
                                <img src="/images/face.png">
                                <%= comment.author.username %>
                            </div>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a href="/places/<%=place._id%>/comments/<%=comment._id%>/edit" class="waves-effect waves-light btn amber" role="button">Edit</a>
                                <form method="post" action="/places/<%=place._id%>/comments/<%=comment._id%>?_method=DELETE" id="methodOverrideForm">
                                    <button type="submit" class="waves-effect waves-light btn red">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>
    </div>
</div>


<script>
  function initMap() {
    var lat = <%= place.lat %>;
    var lng = <%= place.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= place.name %><br /></strong>
      <%= place.location %>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe9-QNI3PZsyKEkAD0iOZtVNyP18OgO3w&callback=initMap"></script>


<% include ../partials/footer.ejs %>
